@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button-primary{
        @apply bg-indigo-600 hover:bg-indigo-900 text-white px-5 py-2 rounded-2xl mt-5;
    }
    input{
        @apply border border-gray-300 rounded-lg p-2 w-5/6;
    }
    select{
        @apply border border-gray-300 rounded-lg p-2 w-fit;
    }
    .button-disruptive{
        @apply bg-red-500 text-white font-semibold rounded-lg shadow-lg py-1 px-2 hover:bg-red-600;
    }
    .title{
        @apply text-3xl font-semibold text-gray-800 my-6;
    }
    .input_label{
        @apply flex items-center gap-6 gap-y-2 min-w-fit max-w-96
    }
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

}